* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1000vw;
}

/*
=======================================

Navbar

=======================================
 */

.nav {
  padding: 1rem;
  padding-right: 2rem;
  user-select: none;
}
.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: end;
  gap: 2rem;
}
.nav-list-item {
  display: flex;
  align-items: center;
}
.nav-list-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.google-apps-icon {
  padding: 0.5rem;
}

.google-apps-icon-container:hover {
  border-radius: 50%;
  background: rgb(230, 230, 230);
  text-decoration: none;
}
.user-icon {
  font-size: 1.4rem;
}
.user-icon-container:hover {
  text-decoration: none;
}
/*
==================================================

Hero Section

==================================================
*/

.hero-section {
  padding: 4rem;
  display: grid;
  justify-content: center;
  user-select: none;
}
.google-logo-container {
  width: 60vw;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .google-logo-container {
    width: 35vw;
  }
}
.google-logo {
  max-width: 100%;
}

.search-bar-container {
  padding: 1rem;
}
.search-bar {
  padding: 0.5rem;
  border: 0.5px solid rgb(209, 209, 209);
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: center;
  width: 90vw;
  min-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .search-bar {
    width: 45vw;
  }
}
.search-bar:hover {
  box-shadow: -2px -2px 5px 2px rgba(200, 200, 200, 0.21);
  -webkit-box-shadow: -2px -2px 5px 2px rgba(200, 200, 200, 0.21);
  -moz-box-shadow: -2px -2px 5px 2px rgba(200, 200, 200, 0.21);
}
.input {
  border: none;
  outline: none;
  font-size: 1rem;
}
.search-icon-container {
  justify-self: start;
  padding-left: 0.5rem;
}
.mic-icon-container {
  justify-self: end;
  padding-right: 0.5rem;
}
.search-bar span:hover {
  cursor: pointer;
}
.search-bar-btn {
  padding: 0.5rem 0.3rem;
  background: #f0eeee;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  outline: none;
}
.search-bar-btn:hover {
  cursor: pointer;
  box-shadow: -2px 0px 5px 7px rgba(230, 230, 230, 0.3);
  -webkit-box-shadow: -2px 0px 5px 7px rgba(230, 230, 230, 0.3);
  -moz-box-shadow: -2px 0px 5px 7px rgba(230, 230, 230, 0.3);
}
.search-bar-btn-container {
  display: flex;
  justify-content: center;
}

/*
===================================================
==================================================


Search Page


=================================================
====================================================
 */

/*
 ==================================
 
 Navbar

 =================================
  */

.searchPage-nav {
  padding: 1rem;
  max-width: 100vw;
}
.searchPage-nav-list {
  list-style: none;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 100%;
}

.searchPage-logo-container {
  display: grid;
  justify-content: center;
  justify-self: center;

  text-align: center;
}
.searchPage-logo {
  width: 35%;
  justify-self: center;
}
.searchPage-search-bar {
  padding: 0.5rem;
  border: 0.5px solid rgb(209, 209, 209);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1rem;
  align-items: center;

  min-height: 2.5rem;
}
.searchPage-search-bar:hover {
  box-shadow: -2px -2px 5px 2px rgba(200, 200, 200, 0.21);
  -webkit-box-shadow: -2px -2px 5px 2px rgba(200, 200, 200, 0.21);
  -moz-box-shadow: -2px -2px 5px 2px rgba(200, 200, 200, 0.21);
}
.searchPage-input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 1rem;
  border-right: 1px solid #dfe1e5;
  padding-right: 0.5rem;
}

.searchPage-user-icon {
  display: none;
}
.searchPage-google-apps-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.searchPage-google-apps-icon-container2 {
  display: none;
  align-items: center;
}
@media screen and (min-width: 660px) {
  .searchPage-nav-list-item {
    display: flex;
    align-items: center;
  }
  .searchPage-user-icon {
    align-self: center;
  }
  .searchPage-google-apps-icon-container2 {
    display: grid;
  }
  .searchPage-nav-list {
    grid-template-columns: 6fr 27fr 7fr 1fr 1fr;
    gap: 0.5rem;
  }
  .searchPage-logo {
    align-self: center;
    width: 70%;
  }
  .searchPage-logo-container {
    justify-self: start;
  }
  .searchPage-search-bar-container {
    display: flex;
    align-items: center;
  }
  .searchPage-search-bar {
    width: 100%;
    justify-self: start;
  }
}
